# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Environments
venv/
.venv/
env/
.env

# IDE specific
.vscode/
.idea/

# Project output & data
outputs/
logs/
data/

# Distribution
build/
dist/
*.egg-info/

